.forecast-container {
  margin-top: 2em;
}

.forecast-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.forecast-body {
  display: flex;
  flex-wrap: wrap;
}

.time-forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 0;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 2px solid white;
}

.vscode-dark .time-forecast-container {
  border: 2px solid white;
}

.vscode-light .time-forecast-container {
  border: 2px solid black;
}

.time-forecast-heading {
  margin-bottom: 1em;
}

.time-forecast-body div {
  width: 150px;
  margin-bottom: 10px;
}

.time-forecast-detail-emoji {
  margin-right: 5px;
}
